USE [master]
GO
CREATE DATABASE [HaliYikamaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HaliYikamaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HaliYikamaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HaliYikamaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HaliYikamaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HaliYikamaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HaliYikamaDB]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteriler](
	[MusteriID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](100) NOT NULL,
	[Telefon] [nvarchar](15) NOT NULL,
	[Adres] [nvarchar](300) NOT NULL,
	[KayitTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siparisler](
	[SiparisID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriID] [int] NOT NULL,
	[HaliAdeti] [int] NOT NULL,
	[ToplamMetrekare] [decimal](18, 2) NULL,
	[ToplamTutar] [decimal](18, 2) NULL,
	[SiparisDurumu] [nvarchar](50) NULL,
	[SiparisTarihi] [datetime] NULL,
	[TeslimTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SiparisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Musteriler] ON 

INSERT [dbo].[Musteriler] ([MusteriID], [AdSoyad], [Telefon], [Adres], [KayitTarihi]) VALUES (1, N'Ahmet Yılmaz', N'05551234567', N'Onikişubat, Binevler Mah. No:12', CAST(N'2026-07-19T19:00:08.947' AS DateTime))
INSERT [dbo].[Musteriler] ([MusteriID], [AdSoyad], [Telefon], [Adres], [KayitTarihi]) VALUES (2, N'Ayşe Kaya', N'05329876543', N'Dulkadiroğlu, Doğukent Mah. No:45', CAST(N'2026-07-19T19:00:08.947' AS DateTime))
INSERT [dbo].[Musteriler] ([MusteriID], [AdSoyad], [Telefon], [Adres], [KayitTarihi]) VALUES (3, N'Mehmet Demir', N'05051112233', N'Onikişubat, Tekerek Mah. No:8', CAST(N'2026-07-19T19:00:08.947' AS DateTime))
SET IDENTITY_INSERT [dbo].[Musteriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Siparisler] ON 

INSERT [dbo].[Siparisler] ([SiparisID], [MusteriID], [HaliAdeti], [ToplamMetrekare], [ToplamTutar], [SiparisDurumu], [SiparisTarihi], [TeslimTarihi]) VALUES (1, 1, 3, CAST(12.50 AS Decimal(18, 2)), CAST(625.00 AS Decimal(18, 2)), N'Alındı', CAST(N'2026-07-19T19:00:08.960' AS DateTime), NULL)
INSERT [dbo].[Siparisler] ([SiparisID], [MusteriID], [HaliAdeti], [ToplamMetrekare], [ToplamTutar], [SiparisDurumu], [SiparisTarihi], [TeslimTarihi]) VALUES (2, 2, 2, CAST(8.00 AS Decimal(18, 2)), CAST(400.00 AS Decimal(18, 2)), N'Yıkanıyor', CAST(N'2026-07-19T19:00:08.960' AS DateTime), NULL)
INSERT [dbo].[Siparisler] ([SiparisID], [MusteriID], [HaliAdeti], [ToplamMetrekare], [ToplamTutar], [SiparisDurumu], [SiparisTarihi], [TeslimTarihi]) VALUES (3, 1, 1, CAST(4.00 AS Decimal(18, 2)), CAST(200.00 AS Decimal(18, 2)), N'Teslim Edildi', CAST(N'2026-07-19T19:00:08.960' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Siparisler] OFF
GO
ALTER TABLE [dbo].[Musteriler] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[Siparisler] ADD  DEFAULT ((0)) FOR [ToplamMetrekare]
GO
ALTER TABLE [dbo].[Siparisler] ADD  DEFAULT ((0)) FOR [ToplamTutar]
GO
ALTER TABLE [dbo].[Siparisler] ADD  DEFAULT ('Alındı') FOR [SiparisDurumu]
GO
ALTER TABLE [dbo].[Siparisler] ADD  DEFAULT (getdate()) FOR [SiparisTarihi]
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([MusteriID])
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SiparisVeFiyatOlustur]
    @MusteriID INT,
    @HaliAdeti INT,
    @ToplamMetrekare DECIMAL(18,2),
    @MetrekareBirimFiyati DECIMAL(18,2)
AS
BEGIN
    DECLARE @ToplamTutar DECIMAL(18,2);
    SET @ToplamTutar = @ToplamMetrekare * @MetrekareBirimFiyati;

    INSERT INTO Siparisler (MusteriID, HaliAdeti, ToplamMetrekare, ToplamTutar, SiparisDurumu)
    VALUES (@MusteriID, @HaliAdeti, @ToplamMetrekare, @ToplamTutar, 'Alındı');
END;
GO
USE [master]
GO
